html, body {
  color: $black;
}

// sections container estilo
.section {
  border-top: solid 2px $light-grey;
  border-bottom: solid 2px $light-grey;

  &__border-none {
    border-top: solid 2px $light-grey;
  }
}